<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <a class="navbar-brand">JustHire</a>

        <div class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-primary" (click)="toggleMenu()">
                MENU
            </button>
        </div>


        <div class="collapse navbar-collapse" [ngClass]="{'toggleMenuStyle' : togglemenu}">
            <ul class="nav navbar-nav">

                <li>
                    <a [routerLink]="['dashboard']">
                        <i class="fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>



                <li>
                    <a [routerLink]="['user/add']" *ngIf="ifAdmin()">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">&nbsp;Add User</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['user/view']" *ngIf="ifAdmin()">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">&nbsp;View User</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['candidate/add']" *ngIf="ifAdmin()">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">&nbsp;Add Candidate</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['candidate/view']" *ngIf="ifAdmin()">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">&nbsp;View Candidate</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['questions/pending']" *ngIf="ifAdmin()">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Pending Questions</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['questions/add']">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Add Questions</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['questions/view']">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">View Questions</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['questions/bank']" *ngIf="ifAdmin()">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Add Question Bank</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['configure-interview']" *ngIf="ifAdmin()">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Configure Interview</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['interview/show-candidates']" *ngIf="ifAdmin()==false">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Take Interview</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['report']" *ngIf="ifAdmin()">
                        <i class="fa fa-desktop"></i>
                        <span class="nav-label">Report</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['changePassword']">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Change Password</span>
                    </a>
                </li>

                <li>
                    <button class="btn btn-primary" id="logout" (click)="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>